@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Rubik', sans-serif;
    background-color: #f5f5f7;
}

.red {
    color: #e11c4e;
}

/* main layout */
.main {
    height: 97vh;
    overflow-y: scroll;
}

.main::-webkit-scrollbar {
    width: 0px;
}

.logo {
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
}

.create-new {
    background: linear-gradient(128.33deg, #81fff4 -29.89%, #6e44ff 98.77%);
}
